.el-textarea__inner {
  color: var(--cd-text-color, black);

  padding: 1rem;

  font-family: Menlo, monospace;
  font-size: 12px;
  text-align: center;
  line-height: 1.3;
}

hr {
  opacity: 0.2;
}


.preview-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.preview-image[src=""] {
  visibility: hidden;
}

// char-dust
.cd-text-container {
  margin-top: 0.5rem;
}
